<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="PosUpdater"/>
  </extensions>
	<targets>
		<target name="console" xsi:type="Console" layout="${date:format=HH\:mm\:ss}|${level}|${message}" />
		<target name="file" xsi:type="File" fileName="${basedir}/nlog.txt" layout="${date}|${level}|${message}" />
    <target name="posislog" xsi:type="PosIsLog" SqlConnect="Data Source=.\sqlexpress; Initial Catalog=VPARK; Integrated Security=SSPI; Persist Security Info=false; Pooling=false;"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="DB" minlevel="Trace" writeTo="posislog"/>
	</rules>
</nlog>