<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="PosUpdater"/>
  </extensions>
    <targets>
      <target name="infoFile" xsi:type="File" fileName="${basedir}/log-info.log" />
      <target name="file" xsi:type="File" fileName="${basedir}/log.log" />
      <target name="posislog" xsi:type="PosIsLog"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="infoFile" />
      <logger name="*" minlevel="Error" writeTo="file" />
      <logger name="DB" minlevel="Trace" writeTo="posislog"/>
    </rules>
</nlog>
