<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="AxRetailPOS" type="LSRetailPosis.Settings.ConfigFile.AppConfiguration, SystemSettings, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
    <AxRetailPOS LocalConnectionString="Data Source=STATION1903132\SQLEXPRESS;Initial Catalog=VPARK;Integrated Security=SSPI;Persist Security Info=false;Pooling=false;TrustServerCertificate=true;Encrypt=TRUE"
        StoreId="m004" TerminalId="0011" DATAAREAID="dat" UseSnapshotIsolation="true" />
    <runtime>
        <generatePublisherEvidence enabled="false"/>
    </runtime>
  <appSettings>
    <add key="devmode" value="false"/>
    <add key="PdfReportFolder" value=""/>
    <add key="ReportParserRules" value=""/>
  </appSettings>
</configuration>